---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Waterfront"
address: "Rm 5104, 1 Waterfront Pl, Morgantown, WV 26501"
country: "us"
language: "English"
latlng: "39.624744,-79.963551"
humandate: "June 13-16, 2016"
humantime: "9:00 am - 4:00 pm"
startdate: 2016-06-13
enddate: 2016-06-16
instructor: ["Michael Carlise, Nathan Gregg"]
helper:
contact: "hpc-team@hpc.wvu.edu"      # contact email address for workshop one)
---


<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->



<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<h2 id="general">General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a href="http://it.wvu.edu/research/research-computing">WVU Research Computing 
		(RC)</a> department offers support for computational research at WVU.  
In addition to offering HPC and storage systems, we run an annual summer 
institute to provide foundational training for researchers to utilize the RC's 
resources.</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Who:</strong>
  The course is aimed at researchers using WVU RC resources, however a large 
  portion of what is taught is transferable to linux and HPC environments in 
  general.
  <strong>You don't need to have any previous knowledge of the tools that will
    be presented at the workshop.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requirements:</strong> Workstations are provided to participants, 
  which can run both Windows and Linux (CentOS).
</p>


<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

<!-- We can unload the survey links at the end of the week when we create them
<p><em>Surveys</em></p>
<p>Please be sure to complete this survey after the workshop.</p>
<p><a href='{{ site.swc_post_survey }}{{ site.github.project_title 
		}}'>Post-workshop Survey</a></p>
-->

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
			<tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> 
			</tr>
	  <tr> <td>10:30</td> <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
	  <tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
	  <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
	  <tr> <td>09:00</td>  <td>Building and Installing Software</td> </tr>
	  <tr> <td>10:30</td>  <td>Break</td> </tr>
	  <tr> <td>10:45</td>  <td>Coreutils for Analysis</td></tr>
	  <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
	  <tr> <td>13:00</td>  <td>Guest Dr. Blake Mertz: Using HPC for 
					  Research</td> </tr>
	  <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
	<h3>Day 3</h3>
	<table class="table table-striped">
			<tr> <td>09:00</td>  <td>Shell Scripts</td></tr>
			<tr> <td>09:45</td>  <td>Jobs on HPC Systems</td><tr>
			<tr> <td>10:30</td>  <td>Break</td> </tr>
			<tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
			<tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
			<tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
	</table>
  </div>
  <div class="col-md-6">
	<h3>Day 4</h3>
	<table class="table table-striped">
			<tr> <td>09:00</td>  <td>HPC Workflows</td></tr>
			<tr> <td>10:30</td>  <td>Break</td> </tr>
			<tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
			<tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
			<tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
	</table>
  </div>
</div>


<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="syllabus">Syllabus</h2>

<div class="row">
  <div class="col-md-6">
	<h3 id="syllabus-shell">Automating tasks with the Unix shell</h3>
    <ul>
      <li>Files and directories</li>
	  <li>Creating Things</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
	  <li>Shell Scripts (Wednesday)</li>
	</ul>
  </div>
  <div class="col-md-6">
	<h3 id="syllabus-install">Software installation</h3>
    <ul>
	  <li>Compiling a program</li>
	  <li>GNU Build System</li>
	  <li>CMAKE Build System</li>
	  <li>Installing from Github</li>
	  <li>Installing Python Modules</li>
	  <li>Controlling your environment with Modulefiles</li>
	</ul>
  </div>

<div class="row">
  <div class="col-md-6">
	<h3 id="syllabus-coreutils">Coreutils for Analysis</h3>
    <ul>
			<li>Unix filters: <code>sort</code>, <code>comm</code>, 
					<code>tr</code>, <code>uniq</code>, <code>wc</code></li>
	  <li>Introduction to Awk</li>
	</ul>
  </div>
  <div class="col-md-6">
	<h3 id="syllabus-hpc">Jobs on HPC systems</h3>
    <ul>
	  <li>Submitting your first job</li>
	  <li>Selecting the correct queue</li>
	  <li>Debugging job submissions</li>
	  <li>Job dependences through Moab/torque</li>
	</ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
	<h3 id="syllabus-workflow">HPC workflows</h3>
    <ul>
	  <li>High throughput computing </li>
	  <li>Parallel jobs</li>
	  <li>Large Memory jobs</li>
	</ul>
  </div>
</div>
<hr/>

<p>We were aided in this work by the training and other support offered by the 
<a href="http://software-carpentry.org">Software Carpentry</a> project.</p>
