---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Waterfront"
address: "Rm 5104, 1 Waterfront Pl, Morgantown, WV 26501"
country: "us"
language: "English"
latlng: "39.624744,-79.963551"
humandate: "June 13-16, 2016"
humantime: "9:00 am - 4:00 pm"
startdate: 2016-06-13
enddate: 2016-06-16
instructor: ["Michael Carlise, Nathan Gregg"]
helper:
contact: "mcarlise@mail.wvu.edu"      # contact email address for workshop one)
---


<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->



<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<h2 id="general">General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a href="http://it.wvu.edu/research/research-computing">WVU Research Computing 
		(RC)</a> department offers support for computational research at WVU.  
In addition to offering HPC and storage systems, we run an annual summer 
institute to provide foundational training for researchers to utilize the RC's 
resources.</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Who:</strong>
  The course is aimed at researchers using WVU RC resources, however a large 
  portion of what is taught is transferable to linux and HPC environments in 
  general.
  <strong>You don't need to have any previous knowledge of the tools that will
    be presented at the workshop.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requirements:</strong> Workstations are provided to participants, 
  which can run both Windows and Linux (CentOS).  We encourage participants to 
  bring their laptops with a
  Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) that 
  they have administrative privileges
  on. They should have a few specific software packages installed (listed
  <a href="#setup">below</a>).
</p>


<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<p><em>Surveys</em></p>
<p>Please be sure to complete this survey after the workshop.</p>
<p><a href='{{ site.swc_post_survey }}{{ site.github.project_title 
		}}'>Post-workshop Survey</a></p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
	  <tr> <td>10:30</td> <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
	  <tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
	  <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
	  <tr> <td>09:00</td>  <td>Building and Installing Software</td> </tr>
	  <tr> <td>10:30</td>  <td>Break</td> </tr>
	  <tr> <td>10:45</td>  <td>Coreutils for Analysis</td></tr>
	  <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
	  <tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
	  <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
	<h3>Day 3</h3>
	<table class="table table-striped">
			<tr> <td>09:00</td>  <td>Shell Scripts</td></tr>
			<tr> <td>09:45</td>  <td>Jobs on HPC Systems</td><tr>
			<tr> <td>10:30</td>  <td>Break</td> </tr>
			<tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
			<tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
			<tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
	</table>
  </div>
  <div class="col-md-6">
	<h3>Day 4</h3>
	<table class="table table-striped">
			<tr> <td>09:00</td>  <td>HPC Workflows</td></tr>
			<tr> <td>10:30</td>  <td>Break</td> </tr>
			<tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
			<tr> <td>13:00</td>  <td>Open Lab, Discussion, Practice</td> </tr>
			<tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
	</table>
  </div>
</div>


<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="syllabus">Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
	  <li>Creating Things</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
	  <li><a href="{{site.swc_githubio}}/shell-novice/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
	<h3 id="syllabus-install">Software installation</h3>
    <ul>
	  <li>Compiling your first program</li>
	  <li>Linking to Libraries</li>
	  <li>Using build systems to install larger software</li>
	  <li>Getting code from Github</li>
	  <li>Installing python and R packages</li>
	  <li><a href="{{site.swc_githubio}}/python-novice-inflammation/reference.html">Reference...</a></li>
    </ul>
  </div>

<div class="row">
  <div class="col-md-6">
	<h3 id="syllabus-coreutils">Coreutils for Analysis</h3>
    <ul>
			<li>Unix filters: 
					<code>sort</code>,<code>comm</code>,<code>tr</code>,<code>uniq</code><code>wc</code></li>
	  <li>Awk Introduction </li>
	  <li><a href="{{site.swc_githubio}}/git-novice/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
	<h3 id="syllabus-hpc">Jobs on HPC systems</h3>
    <ul>
	  <li>Submitting your first job</li>
	  <li>Selecting the correct queue</li>
	  <li>Debugging job submissions</li>
	  <li>Job dependences through Moab/torque</li>
	  <li><a href="{{site.swc_githubio}}/sql-novice-survey/reference.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
	<h3 id="syllabus-workflow">HPC workflows</h3>
    <ul>
	  <li>High throughput computing </li>
	  <li>Parallel jobs</li>
	  <li>Large Memory jobs</li>
	  <li><a href="{{site.swc_githubio}}/git-novice/reference.html">Reference...</a></li>
    </ul>
  </div>
</div>
<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  If you are using your own laptop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>

<!--
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>
-->

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=339AEqk9c-8">Video Tutorial</a>
      <ol>
        <li>Download the Git for Windows <a href="https://git-for-windows.github.io/">installer</a>.</li>
        <li>Run the installer and follow the steps bellow:
          <ol>
            <!-- Git 2.6.1 Setup -->
            <!-- Welcome to the Git Setup Wizard -->
            <li>Click on "Next".</li>
            <!-- Information -->
            <li>Click on "Next".</li>
            <!-- Select Destination Location -->
            <li>Click on "Next".</li>
            <!-- Select Components -->
            <li>Click on "Next".</li>
            <!-- Select Start Menu Folder -->
            <li>Click on "Next".</li>
            <!-- Adjusting your PATH environment -->
            <li>
              <strong>
                Select "Use Git from the Windows Command Prompt" and click on "Next".
              </strong>
                If you forgot to do this programs that you need for the workshop will not work properly.
                If this happens rerun the installer and select the appropriate option.
            </li>
            <!-- Configuring the line ending conversions -->
            <li>
              Click on "Next".
              <strong>
                Keep "Checkout Windows-style, commit Unix-style line endings" selected.
              </strong>
            </li>
            <!-- Configuring the terminal emulator to use with Git Bash -->
            <li>
              <strong>
                Select "Use Windows' default console window" and click on "Next".
              </strong>
            </li>
            <!-- Configuring experimental performance tweaks -->
            <li>Click on "Next".</li>
            <!-- Installing -->
            <!-- Completing the Git Setup Wizard -->
            <li>Click on "Finish".</li>
          </ol>
        </li>
        <li>
          If your "HOME" environment variable is not set (or you don't know what this is):
          <ol>
            <li>Open command prompt (Open Start Menu then type <code>cmd</code> and press [Enter])</li>
            <li>
              Type the following line into the command prompt window exactly as shown:
              <p><code>setx HOME "%USERPROFILE%"</code></p>
            </li>
            <li>Press [Enter], you should see <code>SUCCESS: Specified value was saved.</code></li>
            <li>Quit command prompt by typing <code>exit</code> then pressing [Enter]</li>
          </ol>
        </li>
      </ol>
      <p>This will provide you with both Git and Bash in the Git Bash program.</p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        The default shell in all versions of Mac OS X is Bash, so no
        need to install anything.  You access Bash from the Terminal
        (found in
        <code>/Applications/Utilities</code>).
        See the Git installation <a href="https://www.youtube.com/watch?v=9LQhwETCdwY ">video tutorial</a>
        for an example on how to open the Terminal.
        You may want to keep
        Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        The default shell is usually Bash, but if your
        machine is set up differently you can run it by opening a
        terminal and typing <code>bash</code>.  There is no need to
        install anything.
      </p>
    </div>
  </div>
</div> <!-- End of 'shell' section. -->

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by <code>:q!</code> (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=339AEqk9c-8">Video Tutorial</a>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        To install it,
        download the <a href="{{site.swc_installer}}">Software Carpentry Windows installer</a>
        and double click on the file to run it.
        <strong>This installer requires an active internet connection.</strong>
      </p>
      <p>
        Others editors that you can use are
        <a href="http://notepad-plus-plus.org/">Notepad++</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
        <strong>Be aware that you must
          add its installation directory to your system path.</strong>
        Please ask your instructor to help you do this.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        See the Git installation <a href="https://www.youtube.com/watch?v=9LQhwETCdwY ">video tutorial</a>
        for an example on how to open nano.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>,
        <a href="http://kate-editor.org/">Kate</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<hr>
<p>We were aided in this work by the training and other support offered by the 
<a href="http://software-carpentry.org">Software Carpentry</a> project.</p>
